{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}
    <div class="card shadow mb-4">

        <div class="card-body">

            <table class="table responsive" id="dataTable">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Cognome</th>
                        <th>Email</th>
                        <th>Azioni</th>
                    </tr>
                </thead>

                <tbody>
                    {% for user in users %}
                        <tr>
                            <td>
                                {{ user.firstName }}
                            </td>
                            <td>
                                {{ user.lastName }}
                            </td>
                            <td>
                                {{ user.email }}
                            </td>
                            <td>
                                <a href="{{ path('user_edit', {id:user.id}) }}">
                                    <button class="btn btn-primary">
                                        <i class="fas fa-edit"></i>
                                    </button>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>

            </table>
        </div>
    </div>

{% endblock %}

    {% block javascript %}

    {{ encore_entry_script_tags('datatables') }}
    {{ encore_entry_script_tags('user_list') }}

{% endblock %}